* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: #FAEBFE;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}