/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: #FAEBFE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 1rem;
    font-weight: lighter;
}

/* Intro */

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

/* Gradients Section */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gradient-container {
    width: 200px;
    min-height: 200px;
    background: white;
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.gradient {
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: .5rem;
    border: none;
    transition: box-shadow .25s;
}

.gradient:hover {
    box-shadow: 0 0 20px #728f9e;
    transition: box-shadow .25s;
}

.gradient-code {
    background: #0F0F0F;
    color: #FAEBFE;
    border-radius: 5px;
    font-family: Consolas, system;
    height: 5em;
    overflow: auto;
}

.copy-button {
    background: #0F0F0F;
    color: #FAEBFE;
    font-family: 'Segoe UI', Helvetica, sans-serif;
    padding: 7px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

.copy-confirmation {
    display: none;
}

/* Gradients */

.tropical-fruit {
    background: linear-gradient(to right, #FFCA00, #FF3400);
}

.blue-bliss {
    background: linear-gradient(to right, #006FFF, #0D0086);
}

.pink-lady {
    background: linear-gradient(to right, #fbb3a5, #e5e88d);
}

.burn-glow {
    background: linear-gradient(to right, #FF2D2D, #5D0000);
}

.lush-leaf {
    background: linear-gradient(to right, #4ADC00, #01A351);
}

.mysterious {
    background: radial-gradient(circle at top left, #D4FF84, #28004E);
}

.waves {
    background: repeating-radial-gradient(circle at bottom right, #193AFF, #19E3FF 15%);
}

.waves {
    background: repeating-radial-gradient(circle at bottom right, #193AFF, #19E3FF 15%);
}

.cross-glow {
    background: linear-gradient(to top, transparent, #FFFFB6, transparent), linear-gradient(to right, #1B317A, #FFFFB6, #1B317A);
}

.pearly {
    background: linear-gradient(to right, #F3B6FF, #FFF7BC, #BCCAFF);
}

.drama {
    background: linear-gradient(to bottom right, #C72713, #A010BC);
}

.funkadelic {
    background: repeating-radial-gradient(circle at 50% 40%, #FF8D00, #CDE3FF 15%, #FF00A9 25%);
}

.smooth {
    background: linear-gradient(to bottom right, #8AB6EE, #F9D39A);
}

.dark-murk {
    background: linear-gradient(to bottom right, #09212B, #1A2B09);
}

.fun {
    background: linear-gradient(to right, #FD8E8E, #52B7D5);
}

.luxury {
    background: linear-gradient(to bottom left, #4c212a, #964d26, #4c212a)
}

.luxury {
    background: linear-gradient(to bottom left, #4c212a, #964d26, #4c212a)
}

.sea {
    background: linear-gradient(to bottom right, #224C65, #00A388);
}

.sun {
    background: radial-gradient(circle at center, #ff0 10%, #FFB70E 40%, #BEFFFB 40%, #0090FF 65%);
}

.rainbow-waves {
    background: repeating-radial-gradient(ellipse at 250% 100%, purple, blue 10%, green 15%, yellow 20%, orange 25%, red 30%);
}

.shine {
    background: linear-gradient(to right, #AA18D3, #18D3B6);
}

.pillar-of-fire {
    background: linear-gradient(to right, black, orange, red, orange, black);
}

.neapolitan {
    background: linear-gradient(to bottom, #66260F, #FBEDB3, #F39C9C);
}

.sludge {
    background: radial-gradient(ellipse at top, #266011, #000, #770277);
}

.berry-wine {
    background: linear-gradient(to bottom right, #590026, #9D0316, #590026);
}

.drip {
    background: radial-gradient(ellipse at top, #0C3CA8, #3B97EF, aliceblue);
}

.falling-fire {
    background: radial-gradient(ellipse at top, #F27409, #F22309, #000);
}

.x {
    background: linear-gradient(to bottom right, transparent 45%, #000 45% 55%, transparent 55%), linear-gradient(to bottom left, cyan 45%, #000 45% 55%, cyan 55%);
}

.weird-waves {
    background: repeating-radial-gradient(circle at bottom right, blue 5%, transparent 10% 20%);
}

.metal-x {
    background: linear-gradient(to bottom right, transparent 40%, grey 40%, #fff 50%, grey 60%, transparent 60%), linear-gradient(to bottom left, transparent 40%, grey 40%, #fff 50%, grey 60%, transparent 60%);
}

/* Full Screen Gradient */

.full-screen-gradient {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in .25s;
}

.close-instructions {
    background: rgba(255, 255, 255, .75);
    border-radius: 2em;
    padding: .5em 1em;
    font-size: 2em;
}

@keyframes fade-in {
    from { opacity: 0; } to { opacity: 1; }
}

/* Footer */

footer {
    text-align: center;
    padding: 2em;
}