/* General */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: #FAEBFE;
}

/* Intro */

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

/* Gradients Section */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gradient-container {
    min-width: 200px;
    min-height: 200px;
    background: white;
    display: inline-block;
    margin: 20px;
}